<!-- <h1>Welcome to {{hotelName}}</h1> -->
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<div [hidden]="hideRooms" >
    Number of Rooms:
    <div [ngStyle]="{'color': numberOfRooms ? 'steelblue':'red'}" [innerText]="numberOfRooms"></div>
</div>

{{rooms?.availableRooms ?? 'No Rooms Available'}}

<!-- {{roomList | json}} -->

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="hideRooms">
    <hinv-rooms-list [rooms]="roomList" [title]="title"
    (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>